body{
    background-color: #2874a6;
}

img{

    align-items: center;
    height: 10cm;   
    width: 25cm;
}

img#facebook{
    height: 1cm;
    width: 1cm;
}
img#instagram{
    height: 1cm;
    width: 1cm;
}
img#twitter{
    height: 1cm;
    width: 1cm;
}
img#youtube{
    height: 1cm;
    width: 1cm;
}

h1{
    color: white;
}

h2{
    color: white;
}

table,th,td{
    border: 3px solid white;
    border-collapse: collapse;
}

th,td{
    color: white;
font-size: 1cm;
    padding: 10px;
}

h4{
    color: white;
}